body {
  font-family: "Lato", sans-serif;
  background-color: #61677A;
}

h1 {
  text-align: center;
  font-weight: bold;
}

img {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #61677A;
  color: #272829;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px; 
  font-weight: bold;
  color: #272829;
  display: block;
}

.sidenav a:hover { 
  color: white;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 24px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
